.jumbotron {
	color: #FFFFFF;

	margin-top: 0px;
	padding: 5px;

	text-align: center;

	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031), color-stop(100%, #6d3353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #020031 0%, #6d3353 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #020031 0%, #6d3353 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #020031 0%, #6d3353 100%); /* IE10+ */
	background: linear-gradient(45deg, #020031 0%, #6d3353 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.hero-unit {
	width: 600px;
	margin: 30px auto 0;
	padding: 30px;
	
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .75);
	box-shadow: 0 0 20px rgba(0, 0, 0, .75);
	background-color: rgba(255, 255, 255, 0.9);
	
	border-radius: 5px;
}

